<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="intro">
    <h1>Create your blog</h1>
    <span>
        <p>Login with social Media</p>
        <a href="http://www.facebook.com">Facebook</a>
        <a href="http://www.twitter.com">twitter</a>
    </span>
    </div>
    <div id="login">
    <form>
        <fieldset >

            <legend>Login</legend>
        <p>Don't have an Account,Create one</p>
        <label for="email">Username:</label>
        <input type="text" id="email" placeholder="abc@gmail.com">
        <br/>
        <br/>

        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="password">
        <br/>
        <a href ="https://www.google.com" title="forgot password">Forgot Password</a>
        <br/>
        <br/>
        <input type="submit" value="Sign in">
        <input type="submit" value="Register">
    </fieldset>
    </form>
</div>
</body>
</html>