* {
    box-sizing: border-box;
  }
  h2{
    text-align: center;
    color: brown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
  }
  hr{
    border: 2px black dotted;
  }
  h3{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 33px;
  }
  body {
    font-family: Arial;
    padding: 50px;
    padding-top: 20px;
    background-image: url("background.jpg");
  }
  
  .header {
    padding: 2px;
    font-size: 40px;
    text-align: center;
    border-radius: 10px;
    background: rgba(255, 197, 197, 0.5);
  }
  
  .leftcolumn {   
    padding: 7px;
    margin-top: 5px auto;
    justify-content: center;
  }
  
  .card {
    background: rgba(255, 255, 255, 0.5);
    padding: 25px;
    border: 2px;
    margin: auto;
    width: 1000px;
    height: 1000px;
  }
  .card a{
    text-decoration: none;
    color: black;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  .footer {
    background-color: rgba(53, 53, 53, 0.5);
    color: #fff;
    padding: 30px;
    text-align: center;
  }
  .social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .social-links li {
      margin: 0 10px;
  }
  
  .social-links a {
      text-decoration: none;
      color: #fff;
      font-size: 24px;
      transition: color 0.3s ease-in-out;
  }
  
  .social-links a:hover {
      color: #55acee;
  }
  
  .footer p {
      margin-top: 20px;
      font-size: 14px;
      opacity: 0.7;
  }
  